@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply font-Poppins;
  }
}
.nav__item {
  position: relative;
}

.nav__item::before {
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  background-color: #10b981;
  bottom: -1px;
  transition: 300ms;
  width: 0%;
}

.nav__item:hover::before {
  width: 100%;
}
